<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i> Home</a>
          <span>Register</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<section class="checkout-section spad">
  <div class="container">
    <form action="#" class="checkout-form">
      <div class="row">
        <div class="d-flex justify-content-around">
          <div class="col-lg-6">
            <h4 class="d-flex justify-content-around">Register</h4>
            <div class="row">
              <div class="col-lg-6">
                <label for="fir">Full Name<span>*</span></label>
                <input type="text" [(ngModel)]="accountName" name="accountName" id="fir">
              </div>
              <div class="col-lg-6">
                <label for="last">Address<span>*</span></label>
                <input type="text" [(ngModel)]="address" name="address" id="last">
              </div>
              <div class="col-lg-6">
                <label for="town">Password<span>*</span></label>
                <input type="password" [(ngModel)]="password" name="password" id="town">
              </div>
              <div class="col-lg-6">
                <div>
                  <label>Gender</label>
                </div>
                <div style="padding-top: 8px">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" value="Female" [(ngModel)]="gender" name="gender" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Female</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" value="Male" [(ngModel)]="gender" name="gender" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Male</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" value="Other" [(ngModel)]="gender" name="gender" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline3">Other</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="email">Email Address<span>*</span></label>
                <input type="email" id="email" [(ngModel)]="email" name="email">
              </div>
              <div class="col-lg-6">
                <label for="phone">Phone<span>*</span></label>
                <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" id="phone">
              </div>
              <div class="col-lg-12">
                <label for="birthday">Birthday</label>
                <input type="date" name="birthday" [(ngModel)]="birthday" id="birthday">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <button type="submit" (click)="register()" class="site-btn register-btn">REGISTER</button>
      </div>
    </form>
  </div>
</section>
<!-- Register Form Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
  <div class="container">
    <div class="logo-carousel owl-carousel">
      <div class="logo-item">
        <div class="tablecell-inner">
          <img src="../../assets/img/logo-carousel/logo-1.png" alt="">
        </div>
      </div>
      <div class="logo-item">
        <div class="tablecell-inner">
          <img src="../../assets/img/logo-carousel/logo-2.png" alt="">
        </div>
      </div>
      <div class="logo-item">
        <div class="tablecell-inner">
          <img src="../../assets/img/logo-carousel/logo-3.png" alt="">
        </div>
      </div>
      <div class="logo-item">
        <div class="tablecell-inner">
          <img src="../../assets/img/logo-carousel/logo-4.png" alt="">
        </div>
      </div>
      <div class="logo-item">
        <div class="tablecell-inner">
          <img src="../../assets/img/logo-carousel/logo-5.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
